@import url("prism.css");

:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}

.wrapper {
  width: 100%;
}

ul,pre[class*='language-'] {
  margin: 0;
}

h2,h3,h4,p {
  text-align: left;
}

h2 {
  border-bottom: 4px solid var(--color-cyan);
  margin-bottom: 64px;
}

ul,ol,p,pre[class*='language-'] {
  margin-bottom: 24px;
}